DROP ROLE IF EXISTS
    receptor
  , website
;

CREATE ROLE receptor WITH
 LOGIN
 NOSUPERUSER
 INHERIT
 NOCREATEDB
 NOCREATEROLE
 NOREPLICATION
 PASSWORD '{{ receptor_password }}';
;

CREATE ROLE website WITH
 LOGIN
 NOSUPERUSER
 INHERIT
 NOCREATEDB
 NOCREATEROLE
 NOREPLICATION
 PASSWORD '{{ website_password }}';
;